**TODO :**

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
cd ../src

/home/theo/kaggle/foursquare/src

In [3]:
%load_ext nb_black

# **Librairies**

In [4]:
import os

os.environ["CUDA_VISIBLE_DEVICES"] = "1"

import torch

torch.cuda.get_device_name(0)

'NVIDIA GeForce RTX 2080 Ti'

In [12]:
import gc
import cudf
import random
import warnings
import numpy as np
import pandas as pd
from tqdm.auto import tqdm
from pandarallel import pandarallel

from params import DEBUG, OUT_PATH, IS_TEST, RESSOURCES_PATH
from ressources import *
from matching import *
from dtypes import DTYPES_1
from data.preparation import reduce_mem_usage

pandarallel.initialize(nb_workers=12, progress_bar=False)
random.seed(13)
warnings.simplefilter("ignore")
pd.options.display.max_columns = 500

INFO: Pandarallel will run on 12 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.

## Load Data
- TODO: load precomputed probas

In [6]:
if IS_TEST:
    train = load_cleaned_data(OUT_PATH + "cleaned_data_test.csv")
else:
    train = load_cleaned_data(OUT_PATH + "cleaned_data_train.csv")

In [7]:
train["idx"] = np.arange(len(train))

In [8]:
THRESHOLD = 0.0075

In [13]:
if IS_TEST:
    df_p = pd.read_csv(
        OUT_PATH + f"features_test_1_filtered_{THRESHOLD}.csv", dtype=DTYPES_1
    )
    SIZE_RATIO = 1
else:
    df_p = pd.read_csv(
        OUT_PATH + f"features_train_1_filtered_{THRESHOLD}.csv", dtype=DTYPES_1
    )
    SIZE_RATIO = 1

In [15]:
DEBUG = True

In [16]:
if DEBUG:
    df_p = df_p.head(10000).copy()

In [17]:
# df_merged = feature_engineering_2(df_p, train, ressources_path=RESSOURCES_PATH)

### Youri & Vincent

In [18]:
from fe import FE2

In [19]:
df_p = df_p.merge(train[["id", "Nb_multiPoi"]], left_on="id_1", right_on="id").drop(
    "id", axis=1
)
df_p = df_p.merge(
    train[["id", "Nb_multiPoi"]], left_on="id_2", right_on="id", suffixes=("_1", "_2")
).drop("id", axis=1)

In [20]:
p1 = df_p[["id_1"]].copy()
p1.columns = ["id"]
p2 = df_p[["id_2"]].copy()
p2.columns = ["id"]

In [21]:
%%time
df = FE2(df_p.copy(), p1, p2, train, RESSOURCES_PATH, size_ratio=SIZE_RATIO)

- Cat links & quantiles
- Simply connected components
- Strongly connected components
- Cat link score
- Link between grouped categories
- Features for column name_initial
- Features for column name_initial_decode
- Features for column nameC
- Features for column name
- Features for column categories
- Features for column address
- Features for column url
- Features for column city
- Features for column state
- Features for column zip
- Features for column phone
- Count encoding
- Words in categories
- Words in names
- Close count
- Close count of same category2
- Close count of same category_simpl
- Compare numeric part of the name/address
- Number in names features
CPU times: user 14.7 s, sys: 30.5 s, total: 45.2 s
Wall time: 58.6 s

### Théo

In [22]:
from fe_theo import feature_engineering_theo_2

In [23]:
cols = [
    "id",
    "name",
    "address",
    "country",
    "url",
    "phone",
    "city",
    "state",
    "zip",
    "idx",
]

for col in cols[1:]:
    train.loc[train[col] == "", col] = np.nan

p1 = p1[["id"]].merge(train[cols], on="id", how="left")
p2 = p2[["id"]].merge(train[cols], on="id", how="left")

pairs = pd.concat([p1[cols], p2[cols]], axis=1)
pairs.columns = [c + "_1" for c in cols] + [c + "_2" for c in cols]

In [24]:
%%time

df_theo, fts_theo = feature_engineering_theo_2(train.copy(), pairs.copy(), cuda=False)

- Computing nan features
- Computing feature name_tf_idf_33_char_wb_sim
- Computing feature address_tf_idf_33_char_wb_sim
- Computing feature url_tf_idf_33_char_wb_sim
- Column : name  -  Function : wratio
- Column : name  -  Function : partial_ratio
- Column : address  -  Function : wratio
- Column : address  -  Function : partial_ratio
- Column : url  -  Function : wratio
- Column : url  -  Function : partial_ratio
CPU times: user 20.4 s, sys: 3.62 s, total: 24.1 s
Wall time: 25.2 s

## Merge & Save

In [25]:
df_merged = df.merge(df_theo, on=["id_1", "id_2"])

In [26]:
cols_to_end = [
    "point_of_interest_1",
    "fold_1",
    "point_of_interest_2",
    "fold_2",
    "match",
]
cols_to_end = [c for c in cols_to_end if c in df_merged.columns]

if len(cols_to_end):
    to_end = df_merged[cols_to_end]
    df_merged.drop(cols_to_end, axis=1, inplace=True)
    df_merged[cols_to_end] = to_end

In [27]:
if DEBUG:
    corrs = df_merged.corr()
    for col in corrs.columns:
        close = pd.DataFrame(corrs.loc[corrs[col] > 0.99][col])
        if len(close) > 1:
            display(close[close[col] < 1])

                         angular_distance_min
angular_distance_l2_min              0.992907

                      angular_distance_l2_min
angular_distance_min                 0.992907

        url_len_diff
url_ld       0.99312

                                ratio_connect_multipoi1
ratio_strong_connect_multipoi1                 0.996524

                                ratio_connect_multipoi2
ratio_strong_connect_multipoi2                 0.990887

                         ratio_strong_connect_multipoi1
ratio_connect_multipoi1                        0.996524

                         ratio_strong_connect_multipoi2
ratio_connect_multipoi2                        0.990887

          q25_1
q25_2  0.995261

          q25_2
q25_1  0.995261

           nameC_lllcs
nameC_lcs     0.992744

             nameC_lcs
nameC_lllcs   0.992744

               url_ld
url_len_diff  0.99312

        url_dsm1
url_r3  0.995842

            url_r3
url_dsm1  0.995842

              city_lcs2_r1
city_lcs2_r2      0.991441

              city_lcs2_r2
city_lcs2_r1      0.991441

            zip_ljw
zip_lcs_r1  0.99603

            zip_pi1_r1
zip_lcs_r1    0.993931

            zip_lcs_r1
zip_ljw       0.996030
zip_pi1_r1    0.993931

                  address_cc_min
address_both_nan        0.999994

                 address_cc_max
address_any_nan        0.999997

                   city_cc_min
city_group_cc_min     0.999824
city_both_nan         0.999026

                   city_cc_max
city_group_cc_max     0.999985
city_any_nan          0.999662

                    state_cc_min
state_group_cc_min      0.999886
state_both_nan          0.999611

              zip_cc_min
zip_both_nan    0.999999

             zip_cc_max
zip_any_nan         1.0

                phone_cc_min
phone_both_nan           1.0

               phone_cc_max
phone_any_nan           1.0

               city_group_cc_min
city_cc_min             0.999824
city_both_nan           0.998729

              city_group_cc_max
city_cc_max            0.999985
city_any_nan           0.999585

                state_group_cc_min
state_cc_min              0.999886
state_both_nan            0.999831

               state_group_cc_max
state_any_nan            0.999915

                    id_cc_100
id_cc_50             0.994995
id_cc_cat_200        0.995308
id_cc_cat_100        0.993850
id_cc_cat_50         0.990549
id_cc_simplcat_200   0.991507
id_cc_simplcat_100   0.990768

                    id_cc_50
id_cc_100           0.994995
id_cc_cat_200       0.995501
id_cc_cat_100       0.998507
id_cc_cat_50        0.998764
id_cc_simplcat_200  0.996714
id_cc_simplcat_100  0.997991
id_cc_simplcat_50   0.998288

                    id_cc_cat_200
id_cc_100                0.995308
id_cc_50                 0.995501
id_cc_cat_100            0.997792
id_cc_cat_50             0.994766
id_cc_simplcat_200       0.995761
id_cc_simplcat_100       0.994885
id_cc_simplcat_50        0.993367

                    id_cc_cat_100
id_cc_100                0.993850
id_cc_50                 0.998507
id_cc_cat_200            0.997792
id_cc_cat_50             0.998934
id_cc_simplcat_200       0.997857
id_cc_simplcat_100       0.998786
id_cc_simplcat_50        0.998142

                    id_cc_cat_50
id_cc_100               0.990549
id_cc_50                0.998764
id_cc_cat_200           0.994766
id_cc_cat_100           0.998934
id_cc_simplcat_200      0.997201
id_cc_simplcat_100      0.998972
id_cc_simplcat_50       0.999635

                    id_cc_simplcat_500
id_cc_simplcat_200            0.993618

                    id_cc_simplcat_200
id_cc_100                     0.991507
id_cc_50                      0.996714
id_cc_cat_200                 0.995761
id_cc_cat_100                 0.997857
id_cc_cat_50                  0.997201
id_cc_simplcat_500            0.993618
id_cc_simplcat_100            0.999061
id_cc_simplcat_50             0.997588

                    id_cc_simplcat_100
id_cc_100                     0.990768
id_cc_50                      0.997991
id_cc_cat_200                 0.994885
id_cc_cat_100                 0.998786
id_cc_cat_50                  0.998972
id_cc_simplcat_200            0.999061
id_cc_simplcat_50             0.999353

                    id_cc_simplcat_50
id_cc_50                     0.998288
id_cc_cat_200                0.993367
id_cc_cat_100                0.998142
id_cc_cat_50                 0.999635
id_cc_simplcat_200           0.997588
id_cc_simplcat_100           0.999353

                address_both_nan
address_cc_min          0.999994

                address_any_nan
address_cc_max         0.999997

                   city_both_nan
city_cc_min             0.999026
city_group_cc_min       0.998729

                   city_any_nan
city_cc_max            0.999662
city_group_cc_max      0.999585

                    state_both_nan
state_cc_min              0.999611
state_group_cc_min        0.999831

                    state_any_nan
state_group_cc_max       0.999915

            zip_both_nan
zip_cc_min      0.999999

            zip_any_nan
zip_cc_max          1.0

              phone_both_nan
phone_cc_min             1.0

              phone_any_nan
phone_cc_max            1.0

In [31]:
df_merged = reduce_mem_usage(df_merged)

Memory usage after optimization is: 5.30 MB
Decreased by 48.9%

In [32]:
# DTYPES_2 = df_merged.dtypes.to_dict()

In [23]:
if not DEBUG:
    if IS_TEST:
        df_merged.to_csv(OUT_PATH + f"features_test_2_{THRESHOLD}.csv", index=False)
    else:
        df_merged.to_csv(OUT_PATH + f"features_train_2_{THRESHOLD}.csv", index=False)

In [24]:
df_merged.head()

,id_1,id_2,dist,dist1,dist2,country,cat2a,cat2b,name_pi1,name_lcs2,name_lcs,name_pi1_r1,name_lcs2_r1,name_lcs2_r2,name_lcs_r1,name_lcs_r2,name_r3,name_lcs_r4,categories_pi1,categories_lcs2,categories_lcs,categories_pi1_r1,categories_lcs2_r1,categories_lcs2_r2,categories_lcs_r1,categories_lcs_r2,categories_r3,categories_lcs_r4,address_pi1,address_pi1_r1,address_lcs2_r1,address_lcs2_r2,address_lcs_r1,address_lcs_r2,address_r3,city_NA,address_NA,phone_m10,dist_r1,dist_r2,id_cc_min,id_cc_max,name_cc_min,name_cc_max,angular_distance_min,angular_distance_l2_min,same_state,same_zip,same_city,name_len_diff,name_levenshtein,address_len_diff,address_levenshtein,url_len_diff,url_levenshtein,Nb_multiPoi_1,Nb_multiPoi_2,Nb_connect1,Nb_connect2,ratio_connect_multipoi1,ratio_connect_multipoi2,Nb_strong_connect,ratio_strong_connect_multipoi1,ratio_strong_connect_multipoi2,cat_link_score,cat_link_score_all,mean_1,mean_2,q25_1,q25_2,q50_1,q50_2,q75_1,q75_2,q90_1,q90_2,q99_1,q99_2,cat_solo_score_1,cat_solo_score_2,freq_pairing_with_other_groupedcat_1,freq_pairing_with_other_groupedcat_2,mean_ratiodist_1,mean_ratiodist_2,mean_ratiodist_pair,q25_ratiodist_1,q25_ratiodist_2,q25_ratiodist_pair,q50_ratiodist_1,q50_ratiodist_2,q50_ratiodist_pair,q75_ratiodist_1,q75_ratiodist_2,q75_ratiodist_pair,q90_ratiodist_1,q90_ratiodist_2,q90_ratiodist_pair,q99_ratiodist_1,q99_ratiodist_2,q99_ratiodist_pair,grouped_cat_link_score,grouped_cat_link_score_all,name_initial_cclcs,name_initial_lllcs,name_initial_lcs2,name_initial_lcs,name_initial_pi1,name_initial_pi2,name_initial_ld,name_initial_ljw,name_initial_dsm1,name_initial_ll1,name_initial_pi1_r1,name_initial_pi2_r1,name_initial_lcs2_r1,name_initial_lcs2_r2,name_initial_lcs_r1,name_initial_lcs_r2,name_initial_lllcs_r1,name_initial_lllcs_r2,name_initial_r3,name_initial_lcs_r4,name_initial_decode_cclcs,name_initial_decode_lllcs,name_initial_decode_lcs2,name_initial_decode_lcs,name_initial_decode_pi1,name_initial_decode_pi2,name_initial_decode_ld,name_initial_decode_ljw,name_initial_decode_dsm1,name_initial_decode_ll1,name_initial_decode_pi1_r1,name_initial_decode_pi2_r1,name_initial_decode_lcs2_r1,name_initial_decode_lcs2_r2,name_initial_decode_lcs_r1,name_initial_decode_lcs_r2,name_initial_decode_lllcs_r1,name_initial_decode_lllcs_r2,name_initial_decode_r3,name_initial_decode_lcs_r4,name_initial_decode_m5,nameC_lllcs,nameC_lcs2,nameC_lcs,nameC_pi1,nameC_pi2,nameC_ld,nameC_ljw,nameC_dsm1,nameC_ll1,nameC_pi1_r1,nameC_pi2_r1,nameC_lcs2_r1,nameC_lcs2_r2,nameC_lcs_r1,nameC_lcs_r2,nameC_lllcs_r1,nameC_lllcs_r2,nameC_r3,name_cclcs,name_lllcs,name_pi2,name_ld,name_ljw,name_dsm1,name_ll1,name_pi2_r1,name_lllcs_r1,name_lllcs_r2,name_m5,categories_pi2,categories_ld,categories_ljw,categories_dsm1,categories_ll1,categories_pi2_r1,categories_lllcs_r1,categories_lllcs_r2,address_pi2,address_ld,address_ljw,address_dsm1,address_ll1,address_pi2_r1,address_lllcs_r1,url_lcs,url_ld,url_dsm1,url_ll1,url_lcs_r2,url_r3,city_lcs,city_pi1,city_ld,city_ljw,city_dsm1,city_ll1,city_lcs2_r1,city_lcs2_r2,city_r3,state_ld,state_ljw,state_lcs2_r1,state_lcs_r2,state_r3,state_lcs_r4,state_NA,zip_pi2,zip_ljw,zip_pi1_r1,zip_lcs_r1,zip_NA,phone_lcs2,phone_pi2,phone_ljw,phone_dsm1,address_cc_min,address_cc_max,categories_cc_min,city_cc_min,city_cc_max,state_cc_min,zip_cc_min,zip_cc_max,phone_cc_min,phone_cc_max,city_group_cc_min,city_group_cc_max,state_group_cc_min,state_group_cc_max,word_c_cs,word_n_cs,id_cc_2K,id_cc_1K,id_cc_500,id_cc_200,id_cc_100,id_cc_50,id_cc_5K,id_cc_cat_2K,id_cc_cat_1K,id_cc_cat_500,id_cc_cat_200,id_cc_cat_100,id_cc_cat_50,id_cc_cat_5K,id_cc_simplcat_2K,id_cc_simplcat_1K,id_cc_simplcat_500,id_cc_simplcat_200,id_cc_simplcat_100,id_cc_simplcat_50,id_cc_simplcat_5K,name_num,address_num,langs,cat_simpl,num_in_name,nb_in_name,ratio_in_name,address_both_nan,address_any_nan,city_both_nan,city_any_nan,state_both_nan,state_any_nan,zip_both_nan,zip_any_nan,url_both_nan,url_any_nan,phone_both_nan,phone_any_nan,info_power_1,info_power_2,info_diff,name_tf_idf_33_char_wb_sim,address_tf_idf_33_char_wb_sim,url_tf_idf_33_char_wb_sim,name_wratio,name_partial_ratio,address_wratio,address_partial_ratio,url_wratio,url_partial_ratio,point_of_interest_1,fold_1,point_of_interest_2,fold_2,match
0,E_000001272c6c5d,E_da7fa3963561f8,660,600,50,11,1,1,4,10,14,0.29,0.71,0.56,1.00,0.78,0.78,0.71,4,4,4,1.0,1.0,1.00,1.0,1.00,1.00,1.0,0,0.00,0.00,0.00,0.00,0.00,0.09,1,1,0,11.180,17.1700,2,2,2,2,0.010390,0.009440,NaN,NaN,NaN,4,0.2222,11,NaN,0,NaN,24757.0,24757.0,23,1,0.000929,0.000040,200,0.008078,0.008078,0.211,0.172,6.289269,6.289269,0.015224,0.015224,0.052231,0.052231,0.527868,0.527868,3.680882,3.680882,92.168289,92.168289,0.817467,0.817467,0.316487,0.316487,109.947144,109.947144,4.953032,44355.847656,44355.847656,492.748932,12088.375977,12088.375977,148.413162,1211.967041,1211.967041,54.598148,181.272186,181.272186,4.953032,8.166169,8.166169,1.105171,0.000,0.000,2,11,11,16,5,11,5,0.90,0.86,15,0.33,0.73,0.73,0.55,1.07,0.80,0.73,0.55,0.75,0.69,2,11,11,15,5,11,5,0.90,0.86,15,0.33,0.73,0.73,0.55,1.00,0.75,0.73,0.55,0.75,0.73,1,2,1,2,1,1,1,0.61,0.80,2,0.5,0.50,0.50,0.33,1.00,0.67,1.00,0.67,0.67,2,10,10,4,0.90,0.88,14,0.71,0.71,0.56,0,4,0,1.00,1.00,4,1.0,0.0,0.00,0,11,0.00,0.00,1,0.00,0.0,0,0,1.0,1,0.0,1.0,0,0,10,0.0,0.0,1,0.0,0.0,0.10,14,0.0,0.0,0.0,0.07,0.0,1,0,0.0,0.0,0.0,1,0,0,0.000,1.000,2,9896,9896,8,9896,7331,269,9896,9896,9896,8,9896,7331,9896,1.000,1.0,24,10,4,0,0,0,180,2,2,0,0,0,0,14,2,2,0,0,0,0,8,0,0,8,19,0,0,0.0,0,1,0,1,0,1,0,1,1,1,1,1,0.666667,0.000000,0.666667,0.755929,NaN,NaN,88.0,79.0,NaN,NaN,NaN,NaN,P_677e840bb6fc7e,2,P_677e840bb6fc7e,2,1
1,E_498b963aa651fa,E_da7fa3963561f8,1640,1210,990,11,1,13,10,10,10,0.71,0.71,0.56,0.71,0.56,0.78,1.00,0,0,0,0.0,0.0,0.00,0.0,0.00,0.25,0.0,0,0.00,0.00,0.00,0.00,0.00,1.00,2,2,0,26.110,12.4600,2,15,2,15,0.042600,0.030460,NaN,NaN,NaN,4,0.6665,0,NaN,0,NaN,309016.0,24757.0,23,1,0.000074,0.000040,200,0.000647,0.008078,0.062,0.050,228.585693,6.289269,0.392952,0.015224,3.211279,0.052231,14.121393,0.527868,374.942139,3.680882,7377.770996,92.168289,0.817467,0.701242,0.604150,0.316487,8.166169,270.426361,11.023177,4023.872803,109097.835938,1211.967041,492.748932,32859.613281,403.428772,121.510445,2980.958008,134.289795,5.473948,445.857697,11.023177,1.221403,18.174147,1.349859,0.211,0.067,1,10,10,10,10,10,14,0.64,0.59,15,0.67,0.67,0.67,0.53,0.67,0.53,0.67,0.53,0.79,1.00,1,10,10,10,10,10,14,0.64,0.59,15,0.67,0.67,0.67,0.53,0.67,0.53,0.67,0.53,0.79,1.00,0,1,1,1,1,1,2,0.00,0.50,2,0.5,0.50,0.50,0.50,0.50,0.50,0.50,0.50,1.00,1,10,10,12,0.68,0.62,14,0.71,0.71,0.56,0,0,4,0.00,0.00,1,0.0,0.0,0.00,0,0,0.00,1.00,1,0.00,0.0,0,0,1.0,1,0.0,1.0,0,0,0,0.0,1.0,1,0.0,0.0,1.00,0,0.0,0.0,0.0,1.00,0.0,2,0,0.0,0.0,0.0,2,0,0,0.000,1.000,9896,9896,9896,9896,9896,9896,9896,9896,9896,9896,9896,9896,9896,9896,0.000,0.0,59,12,0,0,0,0,180,4,0,0,0,0,0,17,11,1,0,0,0,0,19,0,0,7,0,0,0,0.0,1,1,1,1,1,1,1,1,1,1,1,1,0.000000,0.000000,0.000000,0.503953,NaN,NaN,62.0,71.0,NaN,NaN,NaN,NaN,P_d0e80c43912da0,2,P_677e840bb6fc7e,2,0
2,E_000002eae2a589,E_1ba37c68d3b314,180,100,150,8,1,2,7,7,10,0.54,0.54,0.32,0.77,0.45,0.59,0.70,20,20,20,1.0,1.0,0.83,1.0,0.83,0.83,1.0,0,0.00,0.00,0.00,0.00,0.00,0.12,1,1,0,3.055,1.2260,6,8,8,9,0.003900,0.002851,NaN,NaN,NaN,9,0.5454,8,NaN,0,NaN,24757.0,1310.0,20,31,0.015266,0.001252,200,0.152660,0.008078,0.193,0.134,6.289269,2.960897,0.015873,0.015873,0.052231,0.046639,0.527868,0.235518,3.680882,1.240139,92.168289,85.362183,0.817467,0.694136,0.316487,0.229345,29.964104,60.340286,2.013753,10938.021484,10938.021484,134.289795,3294.469482,4023.872803,44.701183,330.299652,735.095154,14.879733,49.402454,148.413162,2.013753,3.004166,3.004166,1.000000,0.321,0.101,1,8,8,11,8,1,14,0.83,0.56,14,0.57,0.07,0.57,0.32,0.79,0.44,0.57,0.32,0.56,0.73,1,8,8,11,8,1,14,0.83,0.56,14,0.57,0.07,0.57,0.32,0.79,0.44,0.57,0.32,0.56,0.73,1,1,1,1,1,0,2,0.61,0.40,2,0.5,0.00,0.50,0.33,0.50,0.33,0.50,0.33,0.67,1,7,1,12,0.85,0.57,13,0.08,0.54,0.32,1,20,4,0.97,0.91,20,1.0,1.0,0.83,0,8,0.00,0.00,1,0.00,0.0,0,0,1.0,1,0.0,1.0,0,0,12,0.0,0.0,1,0.0,0.0,0.08,12,0.0,0.0,0.0,0.08,0.0,1,0,0.0,0.0,0.0,1,0,0,0.000,0.000,8,9896,39,8954,9896,3640,32,9896,8,9896,9896,9896,9896,9896,0.707,1.0,664,601,329,89,24,9,1635,163,133,59,17,4,1,364,39,29,15,5,1,0,59,0,1,4,0,0,0,0.0,0,1,0,1,0,1,0,1,1,1,0,1,0.000000,0.833333,0.833333,0.354787,NaN,NaN,69.0,77.0,NaN,NaN,NaN,NaN,P_d82910d8382a83,1,P_aaf926a3437875,0,0
3,E_03b33625bd2d8b,E_1ba37c68d3b314,110,40,100,8,2,2,0,15,17,0.00,0.75,0.68,0.85,0.77,0.91,0.88,20,20,20,1.0,1.0,0.83,1.0,0.83,0.83,1.0,0,0.00,0.00,0.00,0.00,0.00,0.12,1,1,0,1.719,0.8223,8,12,8,12,0.002274,0.001754,NaN,NaN,NaN,2,0.2727,8,NaN,0,NaN,24757.0,1310.0,31,31,0.023662,0.001252,200,0.152660,0.008078,0.193,0.134,6.289269,2.960897,0.015873,0.015873,0.052231,0.046639,0.527868,0.235518,3.680882,1.240139,92.168289,85.362183,0.817467,0.694136,0.316487,0.229345,18.174147,36.598232,1.648721,6634.245117,6634.245117,81.450874,2208.347656,2440.602539,27.112638,200.336868,445.857697,9.974182,29.964104,90.017128,1.648721,2.225541,2.225541,1.000000,0.321,0.101,1,18,18,20,0,18,6,0.79,0.83,23,0.00,0.78,0.78,0.72,0.87,0.80,0.78,0.72,0.92,0.90,1,18,18,20,0,18,6,0.79,0.83,23,0.00,0.78,0.78,0.72,0.87,0.80,0.78,0.72,0.92,0.90,0,2,2,2,0,2,1,0.78,0.67,3,0.0,0.67,0.67,0.67,0.67,0.67,0.67,0.67,1.00,1,15,15,6,0.78,0.81,20,0.75,0.75,0.68,0,20,4,0.97,0.91,20,1.0,1.0,0.83,0,8,0.00,0.00,1,0.00,0.0,0,0,1.0,1,0.0,1.0,0,0,12,0.0,0.0,1,0.0,0.0,0.08,12,0.0,0.0,0.0,0.08,0.0,1,0,0.0,0.0,0.0,1,0,0,0.000,0.000,8,9896,39,8954,9896,3640,32,9896,8,9896,9896,9896,9896,9896,0.707,0.0,664,544,298,73,19,6,1479,54,39,24,8,4,0,121,36,26,12,6,4,0,59,0,1,4,0,0,0,0.0,0,1,0,1,0,1,0,1,1,1,0,1,0.000000,0.833333,0.833333,0.667424,NaN,NaN,81.0,87.0,NaN,NaN,NaN,NaN,P_c70b7412a4719d,3,P_aaf926a3437875,0,0
4,E_8daa04281f771c,E_1ba37c68d3b314,240,10,240,8,1,2,11,11,11,0.58,0.58,0.50,0.58,0.50,0.86,1.00,0,0,0,0.0,0.0,0.00,0.0,0.00,0.04,0.0,2,0.25,0.25,0.11,0.62,0.28,0.44,0,0,0,3.953,1.7190,8,8,8,15,0.004230,0.004074,1.0,NaN,1.0,3,0.8184,10,0.722,0,NaN,309016.0,24757.0,31,31,0.000100,0.001252,200,0.000647,0.008078,0.062,0.050,228.585693,6.289269,0.392952,0.015873,3.211279,0.052231,14.121393,0.527868,374.942139,3.680882,7377.770996,92.168289,0.817467,0.701242,0.604150,0.316487,2.013753,40.447308,2.459603,601.845093,14764.788086,181.272186,73.699806,4447.064941,54.598148,18.174147,445.857697,20.085537,1.648721,66.686317,2.459603,1.000000,3.669297,1.105171,0.211,0.067,1,11,11,11,11,11,18,0.58,0.49,20,0.55,0.55,0.55,0.44,0.55,0.44,0.55,0.44,0.80,1.00,1,11,11,11,11,11,18,0.58,0.49,20,0.55,0.55,0.55,0.44,0.55,0.44,0.55,0.44,0.80,1.00,0,1,1,1,1,1,3,0.00,0.40,2,0.5,0.50,0.50,0.33,0.50,0.33,0.50,0.33,0.67,1,11,11,18,0.57,0.54,19,0.58,0.58,0.50,0,0,24,0.00,0.00,1,0.0,0.0,0.00,1,13,0.49,0.38,8,0.12,0.0,0,0,1.0,1,0.0,1.0,12,12,0,1.0,1.0,12,1.0,1.0,1.00,0,1.0,1.0,1.0,1.00,1.0,0,0,0.0,0.0,0.0,1,2,1,0.763,0.556,8,8,39,8954,8954,3640,32,9896,8,15,9896,9896,9896,9896,0.000,0.0,664,544,298,98,29,6,1479,163,133,59,15,2,0,329,29,21,12,3,0,0,54,0,2,4,0,0,0,0.0,0,0,0,0,0,0,0,1,1,1,0,0,0.666667,0.833333,0.166667,0.440204,0.0,NaN,54.0,59.0,45.0,50.0,NaN,NaN,P_cc393db2e76012,4,P_aaf926a3437875,0,0

Done !